main {
  max-width: 900px;
  margin: 0 auto;
  padding: 15px;
}
.twitter-tweet {
  margin: 0 auto;
  padding-bottom: 25px;
}
.button {
  /* font: bold 11px Arial; */
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  background-color: #e74c3c;
  color: #fff;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
  border-radius: 4px;
  padding: 8px;
}
.button:hover {
  text-decoration: none;
  background-color: #c0392b;
}
.center {
  text-align: center;
}
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  list-style: none;
}
.card img {
  max-height: 300px;
}
.lum-lightbox-caption {
  background-color: #333333;
  padding: 20px;
}
.lum-lightbox-caption a {
  color: white;
  text-decoration: underline;
}
.lum-lightbox-caption a:hover {
  color: rgb(44, 102, 202);
}
.external-link-arrow {
  font-weight: bold;
  border: 2px solid white;
}
.lum-lightbox-inner .lum-img {
  /* Image takes up too much space and cuts off the caption */
  max-height: 75%;
}
.event-information p {
  margin-bottom: 0;
}
.event-information {
  margin-bottom: 1.78rem; /* copied this amount from sutro theme */
}
