---
layout: layout.njk
pagination:
    data: events
    size: 1
    addAllPagesToCollections: true
    alias: event
permalink: "events/{{event.date | slug }}/"
tags:
    - events
---
{% import "macros.njk" as macro with context %} 

<main>
    {{ macro.header() }}

    {{ macro.eventSummary(event, false) }}
</main>