<html>
  <head>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@ryrykubes" />
    <meta name="twitter:creator" content="@ryrykubes" />
    <meta name="og:url" content="@ryrykubes" />
    <meta name="og:title" content="Feedback Night" />
    <meta
      name="og:description"
      content="Give and get feedback on your game projects!"
    />
    <meta
      name="og:image"
      content="https://r-k.io/assets/images/feedback-night/feedback.jpeg"
    />
    <link rel="stylesheet" type="text/css" href="/css/sutro-theme.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/luminous-lightbox@2.3.2/dist/luminous-basic.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script src="/src/index.js"></script>
    <script
      async
      src="https://platform.twitter.com/widgets.js"
      charset="utf-8"
    ></script>
    <script
        async
        src="https://unpkg.com/luminous-lightbox@2.3.2/dist/luminous.min.js"
        charset="utf-8"
        onload="luminousLoaded()"
    ></script>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>