{% macro header() %}
    <a href="{{"/" | url }}">
        <img src="{{ "/images/feedback-banner.jpeg" | url }}" />
    </a>
    <h1>Feedback Night</h1>
{% endmacro %}

{% macro projectCard(project) %}
    <li class="card">
        <a
            href="{{project.links.project}}"
            data-full-img="{{project.images.main | url }}"
        >
            <img
            alt="{{project.name}}{% if project.author %} by {{project.author}}{% endif %}"
            src="{{project.images.thumbnail | url }}"
            />
        </a>
        <p>
            <strong>{{project.name}}</strong>
            {% if project.author %}
            by {{project.author}}
            {% endif %}
        </p>
    </li>
{% endmacro %}

{% macro eventSummary(event, linkEvent=false) %}
    <section id="{{ event.name | slug }}-{{ event.date }}">
        {% if linkEvent %}
            <h3><a href="{{ ("/events/" + event.date) | url }}">{{ event.name }}, {{ event.date | formatTitleDate }}</a></h3>
        {% else %}
            <h3>{{ event.name }}, {{ event.date | formatTitleDate }}</h3>
        {% endif %}
        <div class="event-information">
            <p> <strong>Where:</strong> <a href="{{event.location.link}}">{{ event.location.name }}</a> </p>
            <p>
                <strong>When: </strong> {{- event.date | formatBodyDate -}}, {{ event.times.start }} - {{ event.times.end -}}
            </p>
        </div>
        <p>
            {{ event.description | safe }}
        </p>


        {% if event.projects.length > 0 %}
            {% IfFutureDate event.date %}
                <p>
                    If you are showing a project, please fill out this form so we can find
                    you and your project after the event!
                </p>

                <p class="center">
                    <a class="button" href="https://forms.gle/WFU5NE8vn5JP7MVY9">
                        Register your project!
                    </a>
                </p>
            {% endIfFutureDate %}
            <h4>Projects</h4>
            <ul class="card-container">
                {%- for project in event.projects -%}
                    {{ projectCard(project) }}
                {%- endfor -%}
            </ul>
            <script>
                registerLightBox('#{{ event.name | slug }}-{{ event.date }}');
            </script>
        {% endif %}
    </section>
{% endmacro %}